/* 商品の概要 */

.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-comment-box{
  display: flex;
  align-items: center;
}

.item-box {
  background-color: #FFF;
  width: 50vw;
  padding: 10vh 11vw 10vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  left: 10px;
  top: 2px;
  padding: 0 .5em;
  font-weight: bold;
  color: #769164; /* タイトル色 */
  border-style: none none solid;
  border-color: #d6e9ca; /*タイトル下線 */
  border-width: 3px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.item-price-box>.item-price {
  font-size: 2.5vh;
  font-weight: bold;
  word-break: break-all;
  position: relative;
  margin: 2em auto;
  padding: 1em 1em .5em;
  background-color: #badcad; /* 背景色 */
  color: #555; /* 文字色 */ 
  box-shadow: 0 0 10px 10px #badcad; /* 影 */
}

.item-red-btn {
  text-align: center;
  background-color: #36a55d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: red;
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  min-width: 100px;
  color: black;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.fovorite-btn-font{
  margin-top: 3px;
}

.report-btn {
  border-radius: 40px;
  min-width: 160px;

  padding: 1vh 0;
  color: tomato;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-list{
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  overflow: scroll;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #158b2b;
  text-align: initial;
}

.message {
  margin: 10px 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 2px #dedede;
  font-size: 15px;
  resize: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.click-down {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: #36a55d;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
}

.click-down:active {
  transform: translateY(2px);
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 20px;
  text-decoration: none;
  color: #36a55d;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #36a55d;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}