<% if complaints.empathy.find_by(user_id: current_user.id) %>
  <%= link_to complaint_empathy_path([complaints.id], id: complaints.empathy.ids), method: :delete, remote: true do %>
    <div class="fa fa-heart unlike-btn"></div>
  <% end %>
<% else %>
  <%= link_to complaint_empathies_path(complaints.id), method: :post, remote: true do %>
    <div class="fa fa-heart like-btn"></div>
  <% end %>
<% end %>
<%= complaints.empathy.count %>